body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("https://image.freepik.com/free-photo/business-budget-plan-eyeglasses-laptop-blue-background_23-2148178559.jpg");
  background-attachment: fixed;
  background-position-x: right;
  background-repeat: no-repeat;
  background-color: #ADD8DB;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button,
#button {
  margin: 2px;
  padding: 5px;
  text-transform: uppercase;
  background-color: rgb(255, 242, 232);
  border-radius: 10px;
}
input {
  margin: 1px;
  border-radius: 5px;
}

#vendorNames {
  color: rgb(181, 86, 86);
}

#list {
  display: flex;
  flex-wrap: wrap;
  margin: 50px;
  padding-left: 100px;
  padding-bottom: 10px;
  background-color: rgba(255, 215, 167, 0.817);
  border-radius: 50px;
}
